h2 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
#calc {
  border: 2px solid black;
  border-radius: 15px;
  width: 400px;
  height: 650px;
  background-color: #2E2E2E;
}

#display {
  margin: 10px 10px;
  width: 93%;
  height: 75px;
  font-size: 45px;
  background-color: #1A1A1A;
  border-radius: 15px;
}

.button {
  height: 80px;
  width: 80px;
  margin: 5px;
  background-color: #2E2E2E;
  border-radius: 15px;
  font-size: 30px;

}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
