.button{
  padding: 5px 15px;
  margin: 5px;
  border: none;
  background-color: lightgreen;
  border-radius: 12px;
}

#button2{
  background-color: #fff;
  border: 2px solid;
  padding: 5px 35px;
  text-transform: uppercase;
}